:root {
  --neutral-color: #172b4d;
  --accent-color: #ff8008;
  --font-sans: verdana, arial, sans-serif;
}

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-sans);
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  background: linear-gradient(to bottom, #4a00e0, #8e2de2);
  transition: all 0.4s ease-out;
}

.to-do-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 8px 18px;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #ffc837, #ff8008);
  border-radius: 20px 20px 0 0;
}

h1 {
  font-size: 2em;
  padding: 1rem;
  padding: 3rem;
  color: black;
}

header .refresh {
  color: #fff;
  font-size: 1.6em;
  margin-right: 4rem;
  cursor: pointer;
}

header .refresh:hover {
  color: black;
}

.new-task {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
  padding: 2rem;
  font-style: italic;
  font-size: 1.4em;
}

::placeholder {
  color: grey;
}

.list-container {
  width: 100%;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  width: 100%;
}

li {
  font-size: 1.2em;
  list-style: none;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

.check-box {
  margin-right: 1rem;
  opacity: 0;
  position: relative;
  cursor: pointer;
}

.square,
.check {
  position: absolute;
  animation: zoom-in 0.2s alternate ease-in;
}

.square {
  color: grey;
}

.check {
  color: green;
}

.text-task {
  flex: 1;
  padding: 1rem;
  margin-right: 0.6rem;
  border: none;
  outline: none;
  font-family: var(--font-sans);
  font-size: 1.2em;
  resize: none;
  background-color: transparent;
  animation: zoom-in 0.4s alternate ease-in;
}

.list-container ul li .icon {
  color: var(--accent-color);
  cursor: move;
  padding: 1rem;
  text-align: center;
  display: none;
  animation: zoom-in 0.2s alternate ease-in;
  transition: all 0.4s ease-out;
}

.list-container ul li .icon:hover {
  color: green;
}

.removeCompletedBtn {
  all: unset;
  width: 100%;
  color: grey;
  background-color: #ddd;
  font-size: 1.6em;
  height: 6rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0 0 20px 20px;
}

.removeCompletedBtn:hover {
  color: black;
  text-decoration: underline;
}

/* extra styles */

.highlight {
  background-color: #f9f3e0;
}

.list-container ul li .visible {
  display: block;
}

.underlined {
  text-decoration: line-through;
  color: grey;
}

.active {
  color: black;
}

.hidden {
  display: none;
}

/* animations */

@keyframes zoom-in {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}

/* media queries */

/* Medium Devices, Desktops */

@media (min-width: 992px) {
  body {
    background: linear-gradient(to right, #4a00e0, #8e2de2);
  }

  .to-do-container {
    width: 40%;
  }

  .new-task {
    font-size: 1.6em;
  }

  .text-task {
    font-size: 1.4em;
  }

  li {
    font-size: 1.4em;
  }
}
